In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Ddos.csv')
df.head()

,Unnamed: 0,SRC_ADD,DES_ADD,PKT_ID,FROM_NODE,TO_NODE,PKT_TYPE,PKT_SIZE,FLAGS,FID,...,PKT_RATE,BYTE_RATE,PKT_AVG_SIZE,UTILIZATION,PKT_DELAY,PKT_SEND_TIME,PKT_RESEVED_TIME,FIRST_PKT_SENT,LAST_PKT_RESEVED,PKT_CLASS
0,0,3.00,24.30,389693.0,21.0,23.0,b'tcp',1540.0,b'-------',4.0,...,328.240918,505490.0,1540.0,0.236321,0.0,35.519662,35.550032,1.000000,50.021920,b'Normal'
1,1,15.00,24.15,201196.0,23.0,24.0,b'tcp',1540.0,b'-------',16.0,...,328.205808,505437.0,1540.0,0.236337,0.0,20.156478,20.186848,1.000000,50.030211,b'Normal'
2,2,24.15,15.00,61905.0,23.0,22.0,b'ack',55.0,b'-------',16.0,...,328.206042,18051.3,55.0,0.008441,0.0,7.039952,7.069962,1.030045,50.060221,b'UDP-Flood'
3,3,24.90,9.00,443135.0,23.0,21.0,b'ack',55.0,b'-------',10.0,...,328.064183,18043.5,55.0,0.008437,0.0,39.617967,39.647976,1.030058,50.060098,b'Normal'
4,4,24.80,8.00,157335.0,23.0,21.0,b'ack',55.0,b'-------',9.0,...,328.113525,18046.2,55.0,0.008438,0.0,16.029803,16.059813,1.030054,50.061864,b'Normal'

In [3]:
df.shape

(2160668, 29)

In [4]:
df.columns

Index(['Unnamed: 0', 'SRC_ADD', 'DES_ADD', 'PKT_ID', 'FROM_NODE', 'TO_NODE',
       'PKT_TYPE', 'PKT_SIZE', 'FLAGS', 'FID', 'SEQ_NUMBER', 'NUMBER_OF_PKT',
       'NUMBER_OF_BYTE', 'NODE_NAME_FROM', 'NODE_NAME_TO', 'PKT_IN', 'PKT_OUT',
       'PKT_R', 'PKT_DELAY_NODE', 'PKT_RATE', 'BYTE_RATE', 'PKT_AVG_SIZE',
       'UTILIZATION', 'PKT_DELAY', 'PKT_SEND_TIME', 'PKT_RESEVED_TIME',
       'FIRST_PKT_SENT', 'LAST_PKT_RESEVED', 'PKT_CLASS'],
      dtype='object')

In [7]:
df[['NUMBER_OF_PKT','PKT_CLASS']][df.PKT_CLASS!="b'Normal'"]

         NUMBER_OF_PKT     PKT_CLASS
2              16092.0  b'UDP-Flood'
10              9108.0  b'UDP-Flood'
17             16091.0      b'Smurf'
19               210.0      b'Smurf'
24             16103.0  b'UDP-Flood'
...                ...           ...
2160632        16091.0  b'UDP-Flood'
2160635         8655.0  b'UDP-Flood'
2160639         9108.0  b'UDP-Flood'
2160640         9108.0  b'UDP-Flood'
2160646        16092.0  b'UDP-Flood'

[224709 rows x 2 columns]

In [8]:
df[['NUMBER_OF_PKT','PKT_CLASS']][df.PKT_CLASS=="b'Normal'"]

         NUMBER_OF_PKT  PKT_CLASS
0              16091.0  b'Normal'
1              16092.0  b'Normal'
3              16085.0  b'Normal'
4              16088.0  b'Normal'
5              16091.0  b'Normal'
...                ...        ...
2160663        16103.0  b'Normal'
2160664        16103.0  b'Normal'
2160665        16091.0  b'Normal'
2160666        16091.0  b'Normal'
2160667        16092.0  b'Normal'

[1935959 rows x 2 columns]

In [9]:
df['PKT_CLASS'].value_counts()

b'Normal'        1935959
b'UDP-Flood'      201344
b'Smurf'           12590
b'SIDDOS'           6665
b'HTTP-FLOOD'       4110
Name: PKT_CLASS, dtype: int64

In [10]:
x_sample=df[df['PKT_CLASS']=="b'Normal'"].sample(n=4110)

In [11]:
x_sample=pd.concat([x_sample,df[df['PKT_CLASS']=="b'HTTP-FLOOD'"].sample(n=4110)],axis=0)

In [12]:
x_sample.shape

(8220, 29)

In [13]:
x_sample.head()

,Unnamed: 0,SRC_ADD,DES_ADD,PKT_ID,FROM_NODE,TO_NODE,PKT_TYPE,PKT_SIZE,FLAGS,FID,...,PKT_RATE,BYTE_RATE,PKT_AVG_SIZE,UTILIZATION,PKT_DELAY,PKT_SEND_TIME,PKT_RESEVED_TIME,FIRST_PKT_SENT,LAST_PKT_RESEVED,PKT_CLASS
1392162,1392162,13.00,24.13,153699.0,13.0,22.0,b'tcp',1540.0,b'-------',14.0,...,328.460131,505828.0,1540.0,0.236498,0.000000,15.683490,15.713859,1.000000,50.025737,b'Normal'
594128,594128,24.12,12.00,546605.0,22.0,12.0,b'ack',55.0,b'-------',13.0,...,328.491596,18067.0,55.0,0.008446,0.000000,47.554472,47.584482,1.030026,50.051067,b'Normal'
578455,578455,17.10,24.37,433402.0,22.0,23.0,b'cbr',1000.0,b'-------',38.0,...,124.941427,124941.0,1000.0,0.059605,0.001280,38.872000,38.903520,25.000000,75.023440,b'Normal'
1598948,1598948,0.00,24.00,461501.0,21.0,23.0,b'tcp',1540.0,b'-------',1.0,...,328.316229,505606.0,1540.0,0.236321,0.000123,41.027403,41.057896,1.000000,50.010675,b'Normal'
1275596,1275596,24.60,6.00,19464.0,21.0,6.0,b'ack',55.0,b'-------',7.0,...,328.193090,18050.6,55.0,0.008440,0.000000,3.041742,3.071752,1.030048,50.059112,b'Normal'

In [14]:
x_sample.isnull().sum()

Unnamed: 0          0
SRC_ADD             0
DES_ADD             0
PKT_ID              0
FROM_NODE           0
TO_NODE             0
PKT_TYPE            0
PKT_SIZE            0
FLAGS               0
FID                 0
SEQ_NUMBER          0
NUMBER_OF_PKT       0
NUMBER_OF_BYTE      0
NODE_NAME_FROM      0
NODE_NAME_TO        0
PKT_IN              0
PKT_OUT             0
PKT_R               0
PKT_DELAY_NODE      0
PKT_RATE            0
BYTE_RATE           0
PKT_AVG_SIZE        0
UTILIZATION         0
PKT_DELAY           0
PKT_SEND_TIME       0
PKT_RESEVED_TIME    0
FIRST_PKT_SENT      0
LAST_PKT_RESEVED    0
PKT_CLASS           0
dtype: int64

In [15]:
x_sample=x_sample.replace("b'Normal'",0)
x_sample=x_sample.replace("b'HTTP-FLOOD'",1)

In [16]:
x_sample.drop('FLAGS',axis=1,inplace=True)

In [17]:
x_sample.drop('NODE_NAME_FROM',axis=1,inplace=True)

In [18]:
x_sample.drop('NODE_NAME_TO',axis=1,inplace=True)

In [19]:
x_sample.drop('SRC_ADD',axis=1,inplace=True)
x_sample.drop('DES_ADD',axis=1,inplace=True)

In [20]:
x_sample.drop('PKT_TYPE',axis=1,inplace=True)

In [21]:
x_sample.drop('Unnamed: 0',axis=1,inplace=True)

In [22]:
x_sample.drop('FID',axis=1,inplace=True)

In [23]:
x_sample.shape

(8220, 21)

In [24]:
df[['NUMBER_OF_PKT','UTILIZATION','PKT_IN','PKT_OUT','PKT_CLASS']][df.PKT_CLASS!="b'Normal'"]

         NUMBER_OF_PKT  UTILIZATION     PKT_IN    PKT_OUT     PKT_CLASS
2              16092.0     0.008441   7.049955   7.049955  b'UDP-Flood'
10              9108.0     0.130291  32.180177  32.181257  b'UDP-Flood'
17             16091.0     0.008440   2.524349   2.524349      b'Smurf'
19               210.0     0.131248  44.000000  44.000000      b'Smurf'
24             16103.0     0.236498  18.774430  18.774430  b'UDP-Flood'
...                ...          ...        ...        ...           ...
2160632        16091.0     0.236321  38.367152  38.368629  b'UDP-Flood'
2160635         8655.0     0.123811  21.954817  21.955537  b'UDP-Flood'
2160639         9108.0     0.130291  44.907994  44.910034  b'UDP-Flood'
2160640         9108.0     0.130291  58.344000  58.344120  b'UDP-Flood'
2160646        16092.0     0.008441  49.438394  49.438394  b'UDP-Flood'

[224709 rows x 5 columns]

In [26]:
df[['NUMBER_OF_PKT','UTILIZATION','PKT_IN','PKT_OUT','PKT_CLASS']][df.PKT_CLASS=="b'Normal'"]

         NUMBER_OF_PKT  UTILIZATION     PKT_IN    PKT_OUT  PKT_CLASS
0              16091.0     0.236321  35.529786  35.529786  b'Normal'
1              16092.0     0.236337  20.176725  20.176725  b'Normal'
3              16085.0     0.008437  39.627970  39.627970  b'Normal'
4              16088.0     0.008438  16.039806  16.039806  b'Normal'
5              16091.0     0.008440  21.885768  21.885768  b'Normal'
...                ...          ...        ...        ...        ...
2160663        16103.0     0.008446   5.295040   5.295040  b'Normal'
2160664        16103.0     0.008446  34.508649  34.508649  b'Normal'
2160665        16091.0     0.236321  14.418011  14.418011  b'Normal'
2160666        16091.0     0.236321   3.732227   3.732227  b'Normal'
2160667        16092.0     0.236337  47.792490  47.792490  b'Normal'

[1935959 rows x 5 columns]

In [27]:
features=['PKT_ID', 'FROM_NODE', 'TO_NODE',
       'PKT_SIZE', 'SEQ_NUMBER', 'NUMBER_OF_PKT',
       'NUMBER_OF_BYTE', 'PKT_IN', 'PKT_OUT',
       'PKT_R', 'PKT_DELAY_NODE', 'PKT_RATE', 'BYTE_RATE', 'PKT_AVG_SIZE',
       'UTILIZATION', 'PKT_DELAY', 'PKT_SEND_TIME', 'PKT_RESEVED_TIME',
       'FIRST_PKT_SENT', 'LAST_PKT_RESEVED']
len(features)

20

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
X=x_sample.iloc[:,:-1].values
Y=x_sample.iloc[:,-1].values

In [30]:
rs = RandomForestClassifier()
rs.fit(X,Y)

RandomForestClassifier()

In [31]:
 print(pd.Series(rs.feature_importances_,index=features).sort_values(ascending=False))

SEQ_NUMBER          0.199345
LAST_PKT_RESEVED    0.186343
PKT_RATE            0.175189
PKT_DELAY           0.132351
NUMBER_OF_PKT       0.076498
FIRST_PKT_SENT      0.059202
PKT_SIZE            0.043230
PKT_ID              0.037951
PKT_AVG_SIZE        0.031485
BYTE_RATE           0.027481
NUMBER_OF_BYTE      0.010459
UTILIZATION         0.009893
PKT_DELAY_NODE      0.004131
PKT_IN              0.002184
PKT_R               0.001315
PKT_OUT             0.000898
FROM_NODE           0.000873
PKT_SEND_TIME       0.000586
PKT_RESEVED_TIME    0.000517
TO_NODE             0.000069
dtype: float64

In [32]:
features=['PKT_ID','PKT_SIZE', 'SEQ_NUMBER', 'NUMBER_OF_PKT','NUMBER_OF_BYTE', 'PKT_DELAY_NODE','PKT_RATE', 'BYTE_RATE', 'PKT_AVG_SIZE',
       'UTILIZATION', 'PKT_DELAY']
len(features)

11

In [36]:
X=x_sample.loc[:,features]
Y=x_sample.loc[:,['PKT_CLASS']]

In [47]:
X.tail()

,PKT_ID,PKT_SIZE,SEQ_NUMBER,NUMBER_OF_PKT,NUMBER_OF_BYTE,PKT_DELAY_NODE,PKT_RATE,BYTE_RATE,PKT_AVG_SIZE,UTILIZATION,PKT_DELAY
1981324,65267.0,44234.0,-1.0,210.0,9289140.0,0.005243,23.188498,1.025720e+06,44234.0,0.088588,0.056214
1363624,23625.0,10330.0,-1.0,210.0,2169300.0,0.031457,23.041765,2.380214e+05,10330.0,0.020688,0.113885
559067,48284.0,54812.0,-1.0,210.0,11510520.0,0.036699,23.028518,1.262239e+06,54812.0,0.109773,0.119128
454163,5369.0,24553.0,-1.0,210.0,5156130.0,0.020971,23.121571,5.677039e+05,24553.0,0.049173,0.082428
1162115,35398.0,49257.0,-1.0,210.0,10343970.0,0.000000,22.967447,1.131308e+06,49257.0,0.098648,0.142080

In [37]:
print(X.columns)
print(Y.columns)

Index(['PKT_ID', 'PKT_SIZE', 'SEQ_NUMBER', 'NUMBER_OF_PKT', 'NUMBER_OF_BYTE',
       'PKT_DELAY_NODE', 'PKT_RATE', 'BYTE_RATE', 'PKT_AVG_SIZE',
       'UTILIZATION', 'PKT_DELAY'],
      dtype='object')
Index(['PKT_CLASS'], dtype='object')

In [38]:
rs = RandomForestClassifier()
rs.fit(X,Y)
print(pd.Series(rs.feature_importances_,index=features).sort_values(ascending=False))

<ipython-input-38-9537a84ca167>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rs.fit(X,Y)

PKT_RATE          0.349828
SEQ_NUMBER        0.221730
PKT_DELAY         0.171629
PKT_SIZE          0.087979
NUMBER_OF_PKT     0.071546
PKT_AVG_SIZE      0.061279
BYTE_RATE         0.014073
NUMBER_OF_BYTE    0.008830
PKT_ID            0.008089
UTILIZATION       0.004765
PKT_DELAY_NODE    0.000252
dtype: float64

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state=42,test_size=0.3)

In [40]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
model = KNeighborsClassifier()

In [42]:
model.fit(x_train,y_train)

<ipython-input-42-4719cf73997a>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  model.fit(x_train,y_train)

KNeighborsClassifier()

In [43]:
y_pred=model.predict(x_test)

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
score=accuracy_score(y_test,y_pred)*100
print(score)

99.7566909975669